@import 'grid';
@import 'btn';

.display {
    min-height: 10vh;
    color: peru;
    background-color: rgb(50, 47, 47);
    display: flex;
    align-items: center;
    justify-content: left;
    grid-area: display;
    font-size: 40px;
    text-align: right;
    vertical-align: bottom;
}

.calc-box {
    background-color: grey;
    font-family: arial;
}

.eval-btn {
    width: 100%;
}