.grid {
  display: grid;
  grid-template-areas: "display display display display display" "seven eight nine plus equals" "four five six minus equals" "one two three multi equals" "erase nought nought divide equals";
}
.grid--fit {
  max-width: fit-content;
}

.btn {
  color: white;
  background-color: #222;
  margin: 0px;
  padding: 10px;
  font-size: 30px;
}
.btn:hover {
  border: 1px solid lightgrey;
}
.btn:active {
  color: #222;
  border-color: lightgray;
  background-color: lightgray;
}
.btn-one {
  grid-area: one;
}
.btn-two {
  grid-area: two;
}
.btn-three {
  grid-area: three;
}
.btn-four {
  grid-area: four;
}
.btn-five {
  grid-area: five;
}
.btn-six {
  grid-area: six;
}
.btn-seven {
  grid-area: seven;
}
.btn-eight {
  grid-area: eight;
}
.btn-nine {
  grid-area: nine;
}
.btn-nought {
  grid-area: nought;
}
.btn-plus {
  grid-area: plus;
}
.btn-minus {
  grid-area: minus;
}
.btn-divide {
  grid-area: divide;
}
.btn-multi {
  grid-area: multi;
}
.btn-erase {
  grid-area: erase;
}
.btn-equals {
  grid-area: equals;
}

.display {
  min-height: 10vh;
  color: peru;
  background-color: #322f2f;
  display: flex;
  align-items: center;
  justify-content: left;
  grid-area: display;
  font-size: 40px;
  text-align: right;
  vertical-align: bottom;
}

.calc-box {
  background-color: grey;
  font-family: arial;
}

.eval-btn {
  width: 100%;
}
